<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{%block title_block%}{%endblock%}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{%static "css/base.css"%}">
</head>
<body>
  <div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">HOMEPAGE</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/exam">Exam</a></li>
        <li><a href="/api">API</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated%}
          <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {%else%}
          <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        {%endif%}
      </ul>
    </div>
  </nav>

  {%block content_block%}{%endblock%}
</div>
</body>
</html>
